
@{
    ViewBag.Title = "Connexion";
}

<h2>Connexion</h2>

<div>
    <p>
        @Html.ActionLink("Sign in", "Login", "Authentication")
        <br />
        @Html.ActionLink("Register new account", "Register", "Authentication")
    </p>
</div>