@using ContosoUniversity.BusinessLayer

@if (Session["UserId"] != null)
{
   string UserName = Authentication.UserNameFromId((int)Session["UserId"]);
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + UserName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("Log Out", "LogOut", "Authentication", routeValues: null, htmlAttributes: new { id = "LogOutLink" })</li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign on", "Register", "Authentication", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Authentication", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}