@using ContosoUniversity.BusinessLayer

@if (Session["UserId"] == null)
{
    <button type="button" class="btn btn-light pull-right" id="connexion"><i class="fas fa-user-circle"></i> @Html.ActionLink("Connexion", "Login", "Authentication")</button>
}
@if (Session["UserId"] != null)
{
    string UserName = Authentication.UserNameFromId((int)Session["UserId"]);
    <li>@Html.ActionLink("Welcome " + UserName, "Index", "Home")</li>
    <button type="button" class="btn btn-light pull-right" id="connexion"><i class="fas fa-sign-out-alt"></i> @Html.ActionLink("Logout ", "Logout", "Authentication")</button>
}
