@using ContosoUniversity.BusinessLayer
@using ContosoUniversity.DAL

@if (Session[SessionMessage.UserID] == null)
{
    <button type="button" class="btn btn-light pull-right" id="connexion"><i class="fas fa-user-circle"></i> @Html.ActionLink("Connexion", "Login", "Authentication")</button>
}
@if (Session[SessionMessage.UserID] != null)
{
    int userId = (int)Session[SessionMessage.UserID]; //will be used several times thereafter

    if(!AvatarView.userHasAvatar(userId))
    {
        <li class="small_avatar"><img src="~/Images/default_avatar.png" alt="avatar" /></li>
    }
    else //if user has avatar
    {
        <li class="small_avatar"><img src="~/File?id=@AvatarView.getImage(userId)" alt="avatar" /></li>
    }

    //string UserName = Authentication.UserNameFromId(userId);

    Person person = (Person)Session[SessionMessage.User];
    <li>@Html.ActionLink("Hello " + person.UserName + " !", "Index", "Home")</li>

    <button type="button" class="btn btn-light pull-right" id="connexion"><i class="fas fa-sign-out-alt"></i> @Html.ActionLink("Logout ", "Logout", "Authentication")</button>
}
