@model ContosoUniversity.ViewModels.StudentDetailsVM


@Html.AntiForgeryToken()

<div class="divider">
    <dl class="dl-horizontal">
        <dd>
            <table class="table">
                <tr class="row">
                    <th class="text-center">Subscribe to new courses :</th>
                </tr>
                @foreach (var item in Model.CoursesList)
                {
                    using (Html.BeginForm("StudentEnrollment", "Student", FormMethod.Post))
                    {
                        <tr>
                            <td>
                                <display>@item.Title</display>
                            </td>
                            <td>
                                <input type="hidden" name="CourseID" value="@item.CourseID" />
                            </td>
                            <td>
                                <input type="hidden" name="StudentID" value="@Model.StudentID" />
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Subscribe course" class="btn btn-default" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
        </dd>
    </dl>
</div>

